/* Chess board CSS3  */
html {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    perspective: 500px;
    transform-style: preserve-3d;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.eaten {
    width: 411px;
    ;
    height: 2.8em;
    border: 1px solid;
    margin: 0 auto;
    font-size: 25px;
}

.eaten span {
    display: inline-block;
    transform: rotate(-45deg);
}

table {
    position: relative;
    perspective: 500px;
    transform-origin: 0% 5%;
    transform: rotatex(40deg) rotatey(0deg) rotatez(0deg);
    widh: 80%;
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0 0 1px;
    ,
    0 6px 0px -1px;
    background: #def;
    ;
    border-bottom: 5px solid #035;
}

th,
td {
    width: 10%;
    table-layout: fixed;
    border: 1px solid;
    vertical-align: middle;
    padding: 0;
}

table tr:nth-child(1n) td span:nth-child(1n) {
    z-index: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background: transparent;
    transform: rotatex(-25deg) rotatey(0deg) rotatez(0deg) translatey(-4px);
    text-shadow: 0px -2px gray;
    ,
    -1px -2px 1px #111,
    -2px -2px 1px #222,
    -3px -3px 1px #333,
    -4px -4px 1px #444,
    -5px -5px #555;
}

img {
    max-width: 100%;
    vertical-align: top;
    width: 100%;
    height: 100%;
    max-height: 100%;
    opacity: 0.5;
}

tr:nth-child(odd) :nth-child(odd),
tr:nth-child(even) :nth-child(even),
th {
    background: #06a;
}

[draggable="true"] {
    cursor: move;
}

span:hover {
    z-index: 1 !important
}

span:hover:before {
    content: attr(id);
    position: absolute;
    background: red;
    color: white;
    bottom: -1.9em;
    z-index: 1 !important;
    display: block;
    white-space: nowrap;
    border: solid;
    box-shadow: 3px -5px 5px black;
}